h1 {
    color: green;
    font-style: italic;
  }

li {
color: rgb(255, 0, 242);
padding-top: 3px;
font-size: 15px;
}

.blog {
    color: rgb(4, 0, 255);
    padding-top: 5px;
    font-size: 15px;
  }

.error {
color: red;
background: lightgrey;
font-size: 20px;
border-style: solid;
border-radius: 5px;
padding: 10px;
margin-bottom: 10px;
}

.blogpart {
  color: rgb(234, 0, 255);
}